.env
.DS_Store

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/

ml/models/
ml/data/stream/
ml/reports/

airflow/logs/
airflow/airflow.db

node_modules/
.next/
out/

*.log

postgres_data/
grafana_data/
mlartifacts/
