.env
.DS_Store

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/

mlops-platform/ml/models/current/model.pkl
mlops-platform/ml/models/
mlops-platform/ml/data/stream/
mlops-platform/ml/reports/

airflow/logs/
airflow/airflow.db

node_modules/
.next/
out/

*.log

postgres_data/
grafana_data/
mlartifacts/
